/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/* /// Google Fonts*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #060002 !important;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
}

h1.t-h1 {
    font-weight: 700;
    font-size: 84px;
    line-height: 80px;
    color: #fff;

}

h2.subtitulo {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(255, 255, 176);
}
.sec-cont h3{
    color: #fff;
}
p {
    font-size: 16px;
    font-weight: 300;
}

.container-oj {
    width: 80vw;
    max-width: 1480px;
    margin: 0 auto;
}

header {
    /* max-height: 80px; */
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 50;
    height: fit-content;
}

header .container-oj , header .container-oj  nav {
    padding: 0px;
}


.nav-bar{
    border-radius: 8px;
}
.navbar-expand-lg .navbar-collapse{
        flex-direction: row-reverse !important;
}


header ul li a {
    color: palevioletred;

}

header nav ul li a:hover {
    color: #000;
    border-bottom: solid;
}

header  .logo {
    max-width: 120px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

header .rshead ul,
header nav ul,
.rsfooter ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .rshead ul li a,
.rsfooter ul li a {
    text-decoration: none;
}

header .navbar-nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

main .hero {
    width: 100%;
    min-height: 680px;
    background-color: #d6c5f7;
    position: relative;


    background-image: url('../img/hero.jpeg');
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: end;

}
.hero .overlay{
    width: 100%;
    height: 100%;

    background: rgb(6,0,2);
    background: linear-gradient(6deg, rgba(6,0,2,0.8981967787114846) 0%, rgba(233,148,186,0.4416141456582633) 30%, rgba(233,148,186,0) 100%);
position: absolute;
z-index: 5;

}
/*
.hero .img-hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
*/
.hero  .boxtext {
    width: 50%;
    height: fit-content;
    padding-bottom: 40px;
    position: relative;
    bottom: 0;
    z-index: 10;
}

button.btn {
    border: 0px;
    border-radius: 100px;
    padding: 10px 40px;
    background-color: lightpink;
    color: #080005;
}
button.btn:hover{
    background: #d6c5f7;
    color: #080005;
}

section.sec-cont {
    height: fit-content;
    padding: 5vh 0 ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
}


.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 0px;
    background-color: #00000000 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 0px;
}

.card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: stretch;
    justify-items: stretch;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}




.sec-cont .img-info {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sec-cont .img-info img {
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
}


.container-oj  .video iframe {
    width: 100%;
    min-height: 580px;
    border-radius: 30px;
}

.sec-action {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 25%, rgba(233,228,148,1) 100%);
}

.sec-action .container-oj  {
    display: flex;
    justify-content: space-between;

}

.sec-action .cont-btns {
    width: 33.3%;
}

.sec-action .cont-btns .btn-action {
    display: flex;
    gap: 20px;
}
.container-oj  .box-steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-oj  .box-steps .step {
    height: 300px;
    width: 23%;
    min-width: 240px;
    padding: 20px;
    border: 0px;
    border-radius: 10px;
    background-color: #ffe1e1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.embed-responsive{
    border-radius: 22px;
}




.btn {
    cursor: pointer;
    background-color: #202020;
    color: #fff;
    text-decoration: none;
    padding: 4px 40px;
    border-radius: 100px;
}

footer {
    padding: 40px 0;
    color: #fff;
    background-color: #202020;
}

footer .container-oj  {
    display: flex;
    justify-content: space-between;
}

footer .rsfooter a {
    color: #fff;
}

/*Sub Pages*/

.reverse {
    flex-direction: row-reverse;
}

main .sub.hero {
    width: 100%;
    min-height: 340px;
    position: relative;
}

.sub.hero .container-oj  .boxtext {
    padding-bottom: 20px;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 22px;
}
.formulario input{
    width: 100%;
    border-radius: 100px;
    border: 0px;
    padding: 4px 10px;
}
.formulario select {
    text-transform: none;
    width: 100%;
    border-radius: 100px;
    padding: 4px 10px;
}
.formulario textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
.formulario .btn:hover{
background-color: palegoldenrod;
color: #000;
}

@media  (max-width:768px){
    header .rshead ul,
header nav ul,
.rsfooter ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

    button.navbar-toggler {
        position: absolute;
        right: 0;
        top: 30px;
    }
    .hero .boxtext{
        width: 100%;
    }
    h1.t-h1 {

        font-size: 58px;    
    }
    
    h2.subtitulo {
        font-size: 38px;

    }
}

@media  (max-width:480px){

    .hero .boxtext{
        width: 100%;
    }
    h1.t-h1 {
        font-size: 38px;
        line-height: 40px;
    }
    
    h2.subtitulo {
        font-size: 28px;
    }
 h3{
    font-size: 20px !important;   
 }
 .sec-action .cont-btns .btn-action {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
}